{% extends 'layout.html' %}

{% block title %}
    <title>PHOTOCOLLE</title>
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="contents">
            <div class="contents-text">
                <h2 class="contents-text-title">PHOTO COLLECTION MAKES YOUR WORLD BE WIDE</h2>
                <p class="contents-text-subtext" style="text-align: center;">Welcome to photo sharing service. Now your great photoes are shown all over the world!</p>
                <div class="row">
                    <div class="col-6 text-right">
                        <form action="/login" method="get">
                            <input type="submit" value="LOGIN" class="btn btn-success btn-large">
                        </form>        
                    </div>
                    <div class="col-6">
                        <form action="/signupform">
                            <input type="submit" value="SIGNUP" class="btn btn-primary btn-large">
                        </form>        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p><span>&copy;</span>daigo kawabe 2020</p>
            <a href="#"><img src="/static/img/footer_img.png" alt="footer_icon"></a>
        </div>

    </div>

{% endblock %}
